<%- include('partials/header')%>
<link rel='stylesheet' href='/stylesheets/indexStyle.css' />
<div class="container">
	<header class="jumbotron">
    <div class="container">
      <h1>Welcome to SecureU!</h1>
    </div>
  </header>
</div >
<div class="bod">
    <a href="/users/test">Secret<br></a>
    <a href="/devices/register">Device Registration<br></a>
    <a href="/devices">Devices<br></a>
    <a href="/users/logout">Logout</a>
  </div>
  </body>
</html>
